@using Agility.Models
@using Agility.NET.FetchAPI.Helpers
@using Agility.NET.FetchAPI.Models.API
@model ContentItemResponse<Agility.Models.HeroBanner>

<div class="relative w-full h-[400px] sm:h-[500px] md:h-[600px]" data-agility-component="@Model.ContentID">
	  <!-- Background Image -->
	<img srcset="@($"{Model.Fields.Image.Url}?w=320&format=auto&quality=80") 320w,
          @($"{Model.Fields.Image.Url}?w=640&format=auto&quality=80") 640w,
          @($"{Model.Fields.Image.Url}?w=1280&format=auto&quality=80") 1280w,
          @($"{Model.Fields.Image.Url}?w=1920&format=auto&quality=80") 1920w"
		 sizes="(max-width: 320px) 280px,
         (max-width: 640px) 600px,
         (max-width: 1280px) 1200px,
         1920px"
		 src="@($"{Model.Fields.Image.Url}?w=1920&format=auto&quality=80")"
		 alt="@Model.Fields.Image.Label"
		 class="w-full h-full object-cover" />
	  <!-- Overlay Content -->
	<div class="absolute top-0 left-0 bg-black/50 w-full h-full flex flex-col justify-center items-center text-center px-4">
		<h1 data-agility-field="title" class="mt-4 text-4xl md:text-3xl lg:text-5xl font-display font-black tracking-wide text-secondary-100 dark:text-secondary-300 leading-tight">
			@Model.Fields.Title
		</h1>
		<p data-agility-field="subtitle" class="mt-4 mb-6 text-sm sm:text-xl md:text-base lg:text-lg font-medium leading-relaxed text-secondary-200 dark:text-gray-300">
			@Model.Fields.SubTitle
		</p>
		@if (Model.Fields.Button != null)
		{
			<a class="inline-block mt-8 md:mt-8 px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:border-primary-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
			   href="@Model.Fields.Button.Href">
				@Model.Fields.Button.Text
			</a>
		}
	</div>
</div>